    <tr <%= "id=task-#{t.id}" %>>
      <td><%= t.name %></td>
      <td><%= distance_of_time_in_words_to_now(t.expires_at) %></td>
      <% if t.completed %>
        <td><%= link_to "", task_complete_path(t), method: :put, class: 'glyphicon glyphicon-paperclip', remote: true %></td>
      <% else %>
        <td><%= link_to "", task_complete_path(t), method: :put, class: 'glyphicon glyphicon-ok', remote: true %></td>
      <% end %>
    </tr>